@use 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$min-width: 475px;
$max-width: 1440px;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: colors.$Paleblue;
  font-family: 'Red Hat Display', 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url('images/pattern-background-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: 425px) {
    background-image: url('images/pattern-background-desktop.svg');
  }
}

.pattern {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  width: 85vw;
  height: 70vh;
  background-color: colors.$Verypaleblue;
  border-radius: 1em;
  margin-top: 20%;
  box-shadow: 0px 20px 20px 0px rgba(56, 41, 224, 0.16);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(56, 41, 224, 0.16);
  -moz-box-shadow: 0px 20px 20px 0px rgba(56, 41, 224, 0.16);
  text-align: center;

  @media (min-width: 425px) {
    max-width: 400px;
    margin-top: 10vh;
    align-self: center;
    min-height: 550px;
  }
}

.header-image {
  img {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 0;
  padding: 0 1em;
}

.summary {
  h1 {
    color: colors.$Darkblue;
    font-size: 22px;
    font-weight: 900;
  }

  p {
    margin-top: 1em;
    color: colors.$Desaturatedblue;
    font-weight: 500;
    text-justify: center;
    padding: 0 1.5em;
    font-size: 15px;
    // width: 80%;
    // letter-spacing: 1px;
  }
}

.pricing {
  display: flex;
  //   justify-content: space-evenly;
  align-items: center;
  background: lighten(colors.$Paleblue, 2);
  padding: 1em;
  border-radius: 1em;

  a {
    font-size: 14px;
    font-weight: 700;
    color: colors.$Brightblue;
    margin-left: auto;
    text-align: right;
    // align-self: ;
    transition: all 200ms ease-in-out;

    &:hover {
      color: lighten(colors.$Brightblue, 12);
      text-decoration: none;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.plan {
  display: flex;
  flex-direction: column;
  color: colors.$Desaturatedblue;
  margin-left: 20px;
  font-size: 15px;
  span {
    font-weight: 900;
    color: colors.$Darkblue;
    margin-bottom: 5px;
  }
}

button {
  font-weight: 700;
  //   display: block;
  width: 100%;
  font-size: 1em;
  background: none;
  outline: none;
  border: none;
  font-family: 'Red Hat Display', sans-serif;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.proceed {
  background: colors.$Brightblue;
  color: colors.$Verypaleblue;
  box-shadow: 0px 10px 20px 0px rgba(56, 41, 224, 0.3);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(56, 41, 224, 0.3);
  -moz-box-shadow: 0px 10px 20px 0px rgba(56, 41, 224, 0.3);

  &:hover {
    background: lighten(colors.$Brightblue, 12);
  }
}

.cancel {
  color: colors.$Desaturatedblue;
  margin-top: 1em;

  &:hover {
    color: colors.$Darkblue;
  }
}
